parameters:
	paths:
		- src
	level: max

	disallowedMethodCalls:
		-
			method: 'Trio\Marketplaces\Application\Something\CommandDispatcher::dispatch()'
			message: 'this is a custom message'
			errorTip: 'this is a custom tip'
			errorIdentifier: custom.error.id
			disallowInInstanceOf:
				- Trio\Marketplaces\*
			disallowParamsInAllowed:
				-
					position: 1
					name: 'command'
					classPattern: '\Trio\Contracts\Marketplaces\*'

includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
